<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component
        id="domain:FileCommandHttpClient:client"
        service="EgaplayFx.FileStorages.Services.IFileCommandClient, EgaplayFx.FileStorages.Services"
        type="EgaplayFx.FileStorages.Services.FileCommandHttpClient, EgaplayFx.FileStorages.Services">
      <parameters>
        <url>http://file.maoyi18.com/FileCommand.ashx</url>
        <appKey>123456</appKey>
      </parameters>
    </component>

    <component
        id="domain:DefaultFileUploadProvider"
        service="SSIGlass.Core.Content.IFileUploadProvider, SSIGlass.Core"
        type="SSIGlass.Core.Content.DefaultFileUploadProvider, SSIGlass.Core">
      <parameters>
        <fileDir>UploadFiles/SSI</fileDir>
        <hostUrl>http://file.maoyi18.com</hostUrl>
        <client>${domain:FileCommandHttpClient:client}</client>
      </parameters>
    </component>

    <component
        id="domain:DefaultGraphicViewProvider"
        service="SSIGlass.Core.Content.IGraphicViewProvider, SSIGlass.Core"
        type="SSIGlass.Core.Content.DefaultGraphicViewProvider, SSIGlass.Core">
      <parameters>
        <hostUrl>http://file.maoyi18.com</hostUrl>
        <graphicUrl>http://file.maoyi18.com/ImageView.ashx</graphicUrl>
      </parameters>
    </component>

    <component
        id="domain:LocalStorageContentProvider"
        service="EgaplayFx.Core.IO.Content.IContentProvider, EgaplayFx.Core"
        type="EgaplayFx.Core.IO.Content.LocalStorageContentProvider, EgaplayFx.Core">
      <parameters>
        <rootDir>App_Data\CustomContents</rootDir>
      </parameters>
    </component>

    <component
       id="domain:CustomContentMenuItemProvider"
       type="SSIGlass.Web.Helpers.CustomContentMenuItemProvider, SSIGlass.Web">
      <parameters>
        <configFile>Config\Admin\CustomContentMenuItems.xml</configFile>
      </parameters>
    </component>

    <component
       id="domain:AccordionMenuItemProvider"
       type="SSIGlass.Web.Helpers.AccordionMenuItemProvider, SSIGlass.Web">
      <parameters>
        <configFile>Config\Admin\AccordionMenus.xml</configFile>
      </parameters>
    </component>

  </components>

  <facilities>
    <facility
      id="iBatisNet"
      type="Castle.Facilities.IBatisNetIntegration.IBatisNetFacility, Castle.Facilities.IBatisNetIntegration">
      <sqlMap
        id="sqlMap"
        config="sqlMap.config"
        sessionStore="IBatisNet.DataMapper.SessionStore.HybridWebThreadSessionStore, IBatisNet.DataMapper" />

    </facility>

    <facility
      id="atm"
      type="Castle.Facilities.AutoTx.TransactionFacility, Castle.Facilities.AutoTx" />

    <facility
      id="loggingfacility"
      configfile="Config/log4net.config"
      loggingapi="log4net"
      type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" />

  </facilities>
</configuration>