.app-title { display: block;padding-top:5px;}
.app-title .x-label-icon { margin-top: 1px;}
.app-title .x-label-value { font: 700 14px/18px Tahoma;color: #333;}
.footer-copyright .x-panel-body{ font: 12px/24px Tahoma;color: #666;text-align: center;background-color: #DFE8F6;}