/* --------------- 修改 Ext CSS -------------- */
/* Ext 2.0 */
.x-window-footer {position: relative;top: 0;right: 0;}
.x-tab-strip span.x-tab-strip-text {font-size: 13px;}
.x-panel-header {font-size: 13px;}
.x-tree-node {font-size: 13px;}
.x-grid3-hd-row td {font-size: 13px;}
.x-grid3-row td {font-size: 13px;line-height: 18px;}
.x-tip .x-tip-bd {font-size: 13px;}
.x-tip h3 {font-size: 13px;}
.x-tip .x-tip-bd-inner {font-size: 13px;}
.x-panel-tl .x-panel-header {font: normal 13px tahoma,arial,verdana,sans-serif;}
.x-form-field {font: 13px tahoma,arial,helvetica,sans-serif;}
.x-small-editor .x-form-field {font: 13px tahoma,arial,helvetica,sans-serif;}
.x-combo-list-item {font: 13px tahoma,arial,helvetica,sans-serif;}
.x-menu-list-item {font: 13px tahoma,arial,sans-serif;}
.x-window-tl .x-window-header {font: bold 13px tahoma,arial,verdana,sans-serif;}
.ext-ie .x-form-text {margin-top: 1px;}
/* the textField missing bottom line */
.x-form-item {font: 13px tahoma,arial,helvetica,sans-serif;}
.x-grid-group-hd div {font: bold 13px tahoma,arial,helvetica,sans-serif;}
/*按钮字体大小 Add by extjs.org.cn */
.x-btn-text {font: 12px tahoma,arial,sans-serif;}
em button.x-btn-text {font: 12px tahoma,arial,sans-serif;}
.x-btn-noicon .x-btn-small .x-btn-text {font:500 12px tahoma,arial,sans-serif;height: 18px;}
/* END */