<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <settings>
        <setting useStatementNamespaces="false"/>
        <setting cacheModelsEnabled="true"/>
    </settings>

    <providers resource="Providers.config"/>

    <database>
        <provider name="sqlServer2.0"/>
        <dataSource name="SSIGlass" connectionString="Data Source=58.64.186.52;Initial Catalog=sq_ssiglass;Persist Security Info=True;User ID=sq_ssiglass;Password=mssqlssi76;connection reset=false;connection lifetime=5;min pool size=1;max pool size=20;asynchronous processing=true;Connect Timeout=30;" />
    </database>

    <alias>
        <typeAlias alias="Article" type="SSIGlass.Contract.Models.Article, SSIGlass.Contract" />
        <typeAlias alias="Product" type="SSIGlass.Contract.Models.Product, SSIGlass.Contract" />
        <typeAlias alias="ArticleRu" type="SSIGlass.Contract.Models.ArticleRu, SSIGlass.Contract" />
        <typeAlias alias="ProductRu" type="SSIGlass.Contract.Models.ProductRu, SSIGlass.Contract" />
        <typeAlias alias="Manager" type="SSIGlass.Contract.Models.Manager, SSIGlass.Contract" />
    </alias>

    <sqlMaps>
        <sqlMap embedded="SSIGlass.Core.DataAccess.Maps.Article.xml, SSIGlass.Core" />
        <sqlMap embedded="SSIGlass.Core.DataAccess.Maps.Product.xml, SSIGlass.Core" />
        <sqlMap embedded="SSIGlass.Core.DataAccess.Maps.ArticleRu.xml, SSIGlass.Core" />
        <sqlMap embedded="SSIGlass.Core.DataAccess.Maps.ProductRu.xml, SSIGlass.Core" />
        <sqlMap embedded="SSIGlass.Core.DataAccess.Maps.Manager.xml, SSIGlass.Core" />
    </sqlMaps>

</sqlMapConfig>